{% extends 'djapp/base.html' %}

{% block title %}
Страница про нас
{%endblock%}

{% block content %}
<h2>Добро пожаловать в наш магазин металлопроката! Мы являемся лидирующими поставщиками качественных 
    металлических изделий в нашем регионе. Наша компания обладает огромным опытом и знаниями в области 
    металлопроката, и мы гордимся своей репутацией надежного и профессионального поставщика.
</h2>

<h2>
    С момента нашего основания мы стремимся предоставить нашим клиентам широкий выбор качественных 
    металлопрокатных изделий. Мы предлагаем различные виды металла, включая сталь, алюминий, 
    нержавеющую сталь и другие сплавы.
</h2>

<h2>
    Наша команда состоит из опытных профессионалов, которые всегда готовы помочь вам выбрать 
    подходящие материалы и ответить на все ваши вопросы. Мы стремимся удовлетворить потребности 
    как частных, так и корпоративных клиентов, предлагая продукцию высокого качества по конкурентоспособным
    ценам.
</h2>

<h2>
    Мы гордимся нашей репутацией надежного поставщика, который предлагает своим клиентам только 
    сертифицированный и соответствующий всем стандартам металлопрокат. Мы осуществляем поставки в срок, 
    обеспечивая высокий уровень обслуживания.
</h2>

<h2>
    Приходите в наш магазин металлопроката и убедитесь сами в широком ассортименте нашей продукции.
    Мы готовы стать вашим надежным партнером в сфере металлопроката."
</h2>
{% endblock %} 
