{% extends 'djapp/base.html' %}

{% block title %}
Частые вопросы
{%endblock%}

{% block content %}
<h2>1. Какие виды металлопроката вы предлагаете?
    <p>Мы предлагаем широкий ассортимент металлопроката, включая стальные листы, уголки, круги, 
    трубы, профили и другие изделия из различных металлических сплавов.</p>
</h2>

        <h2>2. Есть ли у вас доставка?   
        <p>
            Да, мы предлагаем услуги доставки металлопроката. 
        Мы доставляем заказы в указанное вами место как своим транспортом, так и с 
        помощью сторонних логистических служб.</p>
    </h2>


    <h2>3. Можно ли вернуть товар, если он не подходит
        <p>
            Возврат товара возможен в течение 14 дней после покупки, при условии, что товар не был использован
            и находится в исходном состоянии. Дополнительные условия возврата могут применяться в зависимости 
            от конкретной ситуации. Рекомендуем связаться с нашей службой поддержки для получения 
            дополнительной информации.
        </p>
    </h2>

    <h2>4. Можно ли получить скидку при большом объеме заказа

        <p>
            Да, мы предоставляем скидки на большие объемы заказов. 
            Для уточнения деталей о возможных скидках и предложениях вы можете обратиться к 
            нашему менеджеру
        </p>
    </h2>
{% endblock %}
