{% extends 'djapp/base.html' %}

{% block title %}
{%load static%}

Стальные Трубы
{%endblock%}

{% block content %}
{%load static%}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <div class="image_holder">
          <img src="{% static 'images/Truba1.jpg' %}">
        </div>
        <div class="card-body">
          <p class="card-text">Безшовные трубы</p>
          <div class="btn-group">
            <a href=" {% url 'Bezshovnie_Trubi' %}">
              <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
            </a>
          </div>
        </div>
      </div>
    </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="image_holder">
              <img src="{% static 'images/Truba1.jpg' %}">
            </div>
            <div class="card-body">
              <p class="card-text">Сварочные трубы</p>
              <div class="btn-group">
                <a href=" {% url 'Svarochnie_Trubi' %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="image_holder">
              <img src="{% static 'images/Truba1.jpg' %}">
            </div>
            <div class="card-body">
              <p class="card-text">Нержавеющие трубы</p>
              <div class="btn-group">
                <a href=" {% url 'NershavTubes' %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="image_holder">
              <img src="{% static 'images/Truba1.jpg' %}">
            </div>
            <div class="card-body">
              <p class="card-text">Углеродистые трубы</p>
              <div class="btn-group">
                <a href=" {% url 'UglerodTubes' %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                </a>
              </div>
            </div>
          </div>
        </div>

</div>


{% endblock %}
