{% extends 'djapp/base.html' %}

{% block title %}
{%load static%}
Уголки
{%endblock%}

{% block content %}
{%load static%}

<div class="Characteristics">
    Характеристики
    <div class="CBox">
        <div class="CCBox">
            <div class="picture">
                <img src="{% static 'images/Shveller.png' %}">
            </div>
            <div class="other">
                <div class="Info">Высота
                    <div>24 мм</div>
                </div>
                <div class="Info">Ширина
                    <div>24 мм</div>
                </div>
                <div class="Info">Толщина
                    <div>12 мм</div>
                </div>
                <div class="Info">ГОСТ
                    <div>8732-78 Группа В62</div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
